* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
html{
    background-image: url("images/bgImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: darkslategray;
    height: 120%;
    width: auto;
}

  



.container {
    width:60%;
    min-height: 380px;
    margin:200px auto;
    border-radius: 10px;
    font-family: 'Teko', sans-serif;
    background: rgba(10,189,198, 0.95);
    color: white;
    border-radius: 10px;
    overflow: auto;
    outline: 4px solid snow;
    outline-offset: 10px;
}


.HUD {
    font-family: 'Teko', sans-serif;
    background: rgba(10,189,198, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
}

/*Button styles*/
.startButton {
    background-color: rgb(9,24,51);
    color: snow;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 15px;
}

.submitButton{
    background-color: rgb(9,24,51);
    color: snow;
    width: fit-content;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

.nextButton{
    background-color: rgb(9,24,51);
    color: snow;
    width: fit-content;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}  
    
.restartButton{
    background-color: rgb(9,24,51);
    color: snow;
    width: fit-content;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block; 
}


 /*Static Elements*/   
#GameTitle {
    position: fixed;
    top: 20px;
    left: 20px;
}
    
#Score {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
    
#questionNumber {
    position: fixed;
    bottom: 20px;
    left: 20px;
}


/*Elements Inside Container*/

.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.answers {
    position: relative
}


.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div {
    padding: 8px;
}
 
/*#material {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}*/    



/*Link styles
a.links {
    font-family: 'Teko', sans-serif;
    color: white;
    font-size: 25px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

a.links:hover {
    color: lightgray;
}

a.links:active {
    color: white;
}*/

 /* Desktop Styles */
 @media screen and (min-device-width:801px) {
    .startButton {
        font-size: 35px;
    }
    
    .headline {
        font-size: 30px;
    }
    
    .answers {
        font-size: 25px;
    }

    .submitButton{
        font-size: 20px;
    }
    
    .nextButton{
        font-size: 20px;
    }  
        
    .restartButton{
        font-size: 20px;
    }

    #GameTitle {
        font-size: 45px;
    }
        
    #Score {
        font-size: 30px;
    }
        
    #questionNumber {
        font-size: 30px;
    }

    .image {
        width: auto;
        height: 300px;
    }
}
  /* Tablet Styles */
  @media screen and (max-device-width:800px){
    .startButton {
        font-size: 25px;
    }

    .headline {
        font-size: 25px;
    }
    
    .answers {
        font-size: 20px;
    }

    .submitButton{
        font-size: 20px;
    }
    
    .nextButton{
        font-size: 20px;
    }  
        
    .restartButton{
        font-size: 20px;
    }

    #GameTitle {
        font-size: 35px;
    }
        
    #Score {
        font-size: 20px;
    }
        
    #questionNumber {
        font-size: 20px;
    }

    .image {
        width: auto;
        height: 200px;
    }
}
  /* Mobile Styles */
  @media screen and (max-device-width:320px){
    .startButton {
        font-size: 20px;
    }

    .headline {
        font-size: 20px;
    }
    
    .answers {
        font-size: 15px;
    }

    .submitButton{
        font-size: 16px;
    }
    
    .nextButton{
        font-size: 16px;
    }  
        
    .restartButton{
        font-size: 16px;
    }

    #GameTitle {
        font-size: 25px;
    }
        
    #Score {
        font-size: 15px;
    }
        
    #questionNumber {
        font-size: 15px;
    }

    .image {
        width: auto;
        height: 150px;
    }
}
